@using Client.Components.Ui.Form
@using Domain.Entities

<AppForm Model="Component" ModelChanged="ComponentChanged">
    <FormField>
        <FormLabel for="label">Label</FormLabel>
        @* autofocus ensures as soon as the user starts editing, they get focus to the label field *@
        <FormInputText autofocus id="label" @bind-Value="@Component.Label" required/>
    </FormField>

    <FormField>
        <FormLabel for="description">Description</FormLabel>
        <FormInputText id="description" @bind-Value="@Component.Description"/>
        <FormDescription>Enter the description or leave empty</FormDescription>
    </FormField>

    @if (Component is not (ButtonComponentChoice or GridComponentChoice))
    {
        <FormField>
            <FormLabel for="required">Required?</FormLabel>
            <Switch id="required" @bind-Value="@Component.Required"/>
        </FormField>
    }

    @if (Component is TextInput textInput)
    {
        <FormField>
            <FormLabel for="type">Input type</FormLabel>
            <InputSelect id="type" @bind-Value="@textInput.InputType" class="@FormInputText.BaseClass">
                @foreach (var value in (string[]) ["text", "tel", "url", "email", "password", "search"])
                {
                    <option value="@value">@value</option>
                }
            </InputSelect>
        </FormField>

        <FormField>
            <FormLabel for="placeholder">Placeholder text</FormLabel>
            <FormInputText id="placeholder" @bind-Value="@textInput.Placeholder"/>
        </FormField>

        <FormField>
            <FormLabel for="regex-pattern">Regex pattern</FormLabel>
            <FormInputText id="regex-pattern" @bind-Value="@textInput.Pattern"/>
            <FormDescription>Enter your desired regex pattern here, or leave empty</FormDescription>
        </FormField>

        <FormField>
            <FormLabel for="default-value">Default value</FormLabel>
            <FormInputText id="default-value" @bind-Value="@textInput.TextValue"/>
            <FormDescription>Edit the default value, or leave empty</FormDescription>
        </FormField>
    }

    @if (Component is NumberInput numberInput)
    {
        <FormField>
            <FormLabel for="numeric-default">Default value</FormLabel>
            <InputNumber id="numeric-default" @bind-Value="@numberInput.SelectedNumericValue" class="@FormInputText.BaseClass"/>
        </FormField>

        <FormField>
            <FormLabel for="min">Minimum</FormLabel>
            <InputNumber id="min" @bind-Value="@numberInput.Min" class="@FormInputText.BaseClass"/>
        </FormField>

        <FormField>
            <FormLabel for="max">Maximum</FormLabel>
            <InputNumber id="max" @bind-Value="@numberInput.Max" class="@FormInputText.BaseClass"/>
        </FormField>

        <FormField>
            <FormLabel for="step">Step</FormLabel>
            <InputNumber id="step" step="0.1" @bind-Value="@numberInput.Step" class="@FormInputText.BaseClass"/>
        </FormField>
    }

    @if (Component is SelectInput selectInput)
    {
        var addCallback = () =>
        {
            selectInput.Choices.Add(SelectInputTempValue);
            SelectInputTempValue = null!;
        };

        <FormField>
            <FormLabel for="select-input-temp-value">Choices</FormLabel>

            <ul class="grid gap-1">
                @foreach (var choice in selectInput.Choices)
                {
                    <Button type="button" Variant="outline" class="justify-start"
                            @onclick="@(() => selectInput.Choices.Remove(choice))">
                        <Blazicon Svg="@Icons.Trash"/>
                        @choice
                    </Button>
                }
            </ul>

            <FormInputText id="select-input-temp-value" placeholder="enter choice" @bind-Value="@SelectInputTempValue"/>

            <Button type="button" Variant="default" @onclick="@addCallback">
                <Blazicon Svg="@Icons.Plus"/>
                Add
            </Button>
        </FormField>
    }

    @* nothing special going on here *@
    @if (Component is CheckboxInput checkboxInput)
    {
    }

    @if (Component is DateInput dateInput)
    {
        <FormField>
            <FormLabel for="date-type">Date type</FormLabel>
            <InputSelect id="date-type" @bind-Value="@dateInput.InputType" class="@FormInputText.BaseClass" required>
                @foreach (var value in (string[]) ["date", "month", "time", "datetime-local"])
                {
                    <option value="@value">@value</option>
                }
            </InputSelect>
        </FormField>

        <FormField>
            <FormLabel for="default-value">Default value</FormLabel>
            <InputDate id="default-value" class="@FormInputText.BaseClass"
                       @bind-Value="@dateInput.SelectedDate" Type="@dateInput.GetInputDateType()"/>
            <FormDescription>Edit the default value</FormDescription>
        </FormField>

        <FormField>
            <FormLabel for="min-value">Min value</FormLabel>
            <InputDate id="min-value" class="@FormInputText.BaseClass"
                       @bind-Value="@dateInput.DateMin" Type="@dateInput.GetInputDateType()"/>
        </FormField>

        <FormField>
            <FormLabel for="max-value">Max value</FormLabel>
            <InputDate id="max-value" class="@FormInputText.BaseClass"
                       @bind-Value="@dateInput.DateMax" Type="@dateInput.GetInputDateType()"/>
        </FormField>
    }

    @if (Component is ButtonComponentChoice button)
    {
        <FormField>
            <FormLabel for="button-type">Button type</FormLabel>
            <InputSelect id="button-type" @bind-Value="@button.ButtonType" class="@FormInputText.BaseClass">
                @foreach (var value in (string[]) ["button", "submit"])
                {
                    <option value="@value">@value</option>
                }
            </InputSelect>
        </FormField>

        <FormField>
            <FormLabel for="button-text">Button text</FormLabel>
            <FormInputText id="button-text" @bind-Value="@button.ButtonText"/>
        </FormField>
    }

    @if (Component is GridComponentChoice gridInput)
    {
        var callback = EventCallback.Factory.Create<GridComponentChoice>(
            Component,
            async (grid) => await ComponentChanged.InvokeAsync(Component));

        <FormField>
            <CascadingValue Value="gridInput">
                <CascadingValue Value="callback">
                    <EditGrid @bind-Grid="gridInput"/>
                </CascadingValue>
            </CascadingValue>
        </FormField>
    }
</AppForm>

@code {
    private string SelectInputTempValue { get; set; } = null!;

    [Parameter, EditorRequired] 
    public BaseComponentChoice Component { get; set; } = null!;

    [Parameter, EditorRequired] 
    public EventCallback<BaseComponentChoice> ComponentChanged { get; set; }
}